.btn{
font-size: 16px;
line-height: 20p;
padding: 8px;
padding-left: 30px;
padding-right: 30px;
border-radius: 20px;
border-width: 1px;
border-color: blue;
background-color: rgb(0, 102, 255);
color: white;
cursor:pointer;
}
.btn:hover{
    background-color: rgb(35, 35, 241);
}