body {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    height: 200%;
    margin-left: calc(40% - 400px);
    margin-top: 8%;
    width: 100%;
    min-height: 600px;
    display: block;
}
.centerbox{
    top: 20%;
    left: calc(40% - 400px);
    display: inline-block;
    width: 60%;
    background: rgb(225, 240, 145);
    margin-left: calc(40% - 400px);
    margin-top: 8%;
    position: absolute;
}
.backimg{
    min-height: 850px;
    background-image: url(../img/space.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boxright{
    float: right;

    width: 60%;
    background: rgb(92, 25, 75);
    padding: 60px;
    box-sizing: border-box;
}
.boxleft{
    float: left;
    width: 40%;
    padding: 40px;
    background: rgb(58, 143, 72);
    box-sizing: border-box;
    background-image: url(../img/space.jpg);
    
   
}
h1{
    color: white;
}
p{
    padding-top: 300px;
}
a,p{
    color:white;
}
